body {
  margin: 0;
  margin-top: 100px; 
}
.principal{
  text-align: center;
  align-items: center;
  margin-top: 140px; 
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
.mapa{
  width: 1000px;
  height: 500px;
  border: 0;
  border-radius: 2%;
}
.fade-in-element {
  opacity: 0; 
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 1s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0); 
}

/* algo mas*/

.contact-section {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.contact-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #003366;
}

.contact-section p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #333;
}

/* Información de Contacto */
.contact-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.contact-info .info-item {
  flex: 1;
  margin: 10px;
  max-width: 300px;
  text-align: left;
}

.contact-info h3 {
  font-size: 24px;
  color: #003366;
}

.contact-info p {
  font-size: 16px;
  color: #555;
}

.contact-info a {
  color: #003366;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Mapa */
.map-container {
  margin: 40px 0;
}

/* Formulario de Contacto */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #003366;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0055a5;
}

/* Redes Sociales */
.social-media {
  margin-top: 40px;
}

.social-media h3 {
  font-size: 24px;
  color: #003366;
}

.social-media a {
  display: block;
  margin: 10px 0;
  color: #003366;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 768px) {
  .contact-info {
      flex-direction: column;
      align-items: center;
  }

  .contact-info .info-item {
      text-align: center;
  }
}

/**/
/* Estilos del botón flotante */
.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: #d3d3d3;
  color: #003366;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: none; /* Inicialmente oculto */
  font-size: 24px;
  transition: background-color 0.3s;
  z-index: 100;
}

.scroll-to-top-btn:hover {
  background-color: #0055a5;
  color: white;
}

/* Animación suave de deslizamiento */
html {
  scroll-behavior: smooth;
}

.fade-in-element {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}

/*home.vue*/
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.home-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(23, 28, 47, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  color: white;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}


.icon-container {
  position: fixed;
  bottom: 500px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}


.calendar-icon {
  width: 30px;
  height: 30px;
}

/* Contenedor del calendario */
.calendar-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

#small-calendar {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.calendar-link {
  margin-top: 10px;
  display: inline-block;
  color: #007BFF;
  text-decoration: none;
}

.calendar-link:hover {
  text-decoration: underline;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.logo-container {
  position: fixed;
  top: 25px;
  left: 20px;
  z-index: 9999;
}



.uac-logo {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.icon-container:hover .uac-logo {
  transform: translateY(10px);
}